name: projectX CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run API tests
        run: |
          pytest -m api -q --html=api/reports/api_report.html --self-contained-html
      

      - name: Run UI tests (headless)
        run: |
          set +e
          pytest -m ui -q --html=ui/reports/ui_report.html --self-contained-html
          EXIT_CODE=$?
          set -e

          if [ "$EXIT_CODE" -eq 5 ]; then
            echo "No UI tests collected, skipping UI step."
            exit 0
          fi

          exit "$EXIT_CODE"
          
          

      - name: Upload UI screenshots on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ui-screenshots
          path: ui/reports/screenshots

      - name: Upload API HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-html-report
          path: api/reports/api_report.html

      - name: Upload UI HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ui-html-report
          path: ui/reports/ui_report.html
